@use "../src/variables.scss";

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  width: 100%;
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  font-size: 1rem;
  width: 100%;
  transition: opacity 0.2s;
  margin-right: 5rem;
}

.nav-links {
  text-decoration: none;
  background-color: transparent;
  border-radius: 2.5rem;
  padding: 1%;
  border: 1px solid variables.$calypso-color;
  color: variables.$black-color;
  font-size: 1rem;
  width: 10%;
  &:hover {
    background-color: variables.$calypso-color;
    color: variables.$grey-color;
  }
  cursor: pointer;
}

.nav-option {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.logoNavBar {
  width: 10%;
}

@media screen and (max-width: 850px) {
  .main-nav-bar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: variables.$black-color;
    bottom: 0;
    gap: 0;

    .nav-option {
      text-align: center;
      justify-content: center;
      text-decoration: none;
      padding: 2vh 0;
      gap: 5px;
    }

    .nav-links {
      text-decoration: none;
      background-color: variables.$black-color;
      color: variables.$grey-color;
      border-radius: 0;
      padding: 0;
      border: 0;
      width: 100%;
    }
  }
  .logoNavBar {
    width: 20%;
  }
}
