@use "../src/variables.scss";

.home {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 90vh;
  margin-bottom: 2rem;
}
.home-title {
  margin-bottom: 2rem;
  color: variables.$black-color;
  font-size: 1.5rem;
}
.home-presentation {
  color: variables.$black-color;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
